@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.dark-mode #__layout {
  @apply bg-dark;
}
#__layout {
  @apply min-h-screen h-full bg-light;
}
body {
  font-family: "Josefin Sans", sans-serif;
  caret-color: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
input {
  caret-color: auto;
}
:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
